.checkOut
    text-transform: uppercase
    font-weight: bold
    text-align: center
    font-size: 25px
    color: #4d4d4d
    margin-top: 5px

.menu
    color: #ff2f00
    font-weight: bold
    text-align: center
    font-size: 51px
    position: relative
    top: -20px
    font-style: italic